* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}
